<body class="bodyHome">
    @{
        ViewData["Title"] = "Home Page";
    }
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <div class="BoxHome">
        <h1 class="DescHome">
            CLÍNICA MÉDICA
        </h1>
        <div class="SubDescHome">
            <span>Saiba o resultado do seu exame sem sair da comodidade da sua casa!</span>
        </div>
    </div>
</body>

