@model ProjetoFinalAna.Models.Estado

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/css/BarraPesquisa.css" asp-append-version="true" />


<h1>Editar Estado</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="EstadoNome" class="control-label"></label>
                <input asp-for="EstadoNome" class="form-control" />
                <span asp-validation-for="EstadoNome" class="text-danger"></span>
            </div>
            <div class="button">
                <input type="submit" value="Criar" class="btn btn-primary" />
                <div class="buttonVoltar">
                    <a asp-action="Index">Voltar</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
